* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Collapsible abstract */
.abstract-text.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.abstract-text.expanded {
  display: block;
  -webkit-line-clamp: unset;
  overflow: visible;
}
